.icon-meng {
  border: 2px solid orange;
  border-radius: 50%;
  background-color: rgba(255, 165, 0, 0.75);
  width: 30px;
  height: 30px;
  display: inline-block;
}

.icon-hayley {
  border: 2px solid purple;
  border-radius: 50%;
  background-color: rgba(128, 0, 128, 0.75);
  width: 30px;
  height: 30px;
  display: inline-block;
}

.add-task-icon {
  font-size: 50px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 5px;
}

.card-title {
  display: flex;
}

.taskStatusDone {
  color: rgb(200, 0, 0);
}
.taskStatusDone-border {
  border: 1px solid rgba(200, 0, 0, 0.2);
  border-radius: 4px;
}

.taskStatusReview {
  color: rgb(216, 158, 0);
}
.taskStatusReview-border {
  border: 1px solid rgba(216, 158, 0, 0.2);
  border-radius: 4px;
}

.taskStatusInProgress {
  color: rgb(0, 126, 10);
}
.taskStatusInProgress-border {
  border: 1px solid rgba(0, 126, 10, 0.2);
  border-radius: 4px;
}

.taskStatusToDo {
  color: rgb(61, 65, 255);
  }

.taskStatusToDo-border {
  border: 1px solid rgba(61, 65, 255, 0.2);
  border-radius: 4px;
}


.taskform {
  color: rgb(0, 0, 0);
  /* border: solid 1px black; */
  padding: 15px;
  margin-top: 25px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.card-header {
  color:rgb(104, 103, 103);
  font-size: 1rem;
  font-weight: bold;
}

.card-footer {
  min-height: 50px;
}

.card-icon {
  font-size: 1.5em;
  color: gray;
  transition: all 0.2s;
}

.card-icon:hover {
  font-size: 2em;
}

.card-icon-check:hover {
  color:green;
}

.card-icon-edit:hover {
  color: rgb(77, 77, 255);
}

.card-icon-delete:hover {
  color: rgb(173, 52, 52);
}

@media only screen and (min-width: 1420px) {
  body {
    padding: 0 4%;
  }
}