.icon-meng {
  border: 2px solid orange;
  border-radius: 50%;
  background-color: rgba(255, 165, 0, 0.75);
  width: 30px;
  height: 30px;
  display: inline-block;
}

.icon-hayley {
  border: 2px solid purple;
  border-radius: 50%;
  background-color: rgba(128, 0, 128, 0.75);
  width: 30px;
  height: 30px;
  display: inline-block;
}

.add-task-icon {
  font-size: 50px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 5px;
}

.card-title {
  display: flex;
}

.taskStatusDone {
  color: rgb(200, 0, 0);
}

.taskStatusReview {
  color: rgb(216, 158, 0);
}

.taskStatusInProgress {
  color: rgb(0, 126, 10);
}

.taskStatusToDo {
  color: rgb(61, 65, 255);
}

.taskStatusToDo-border {
  border: 1px solid rgba(61, 65, 255, 0.2);
  border-radius: 4px;
}

.taskform {
  color: rgb(0, 0, 0);
  /* border: solid 1px black; */
  padding: 15px;
  margin-top: 25px;
  border-radius: 10px;
}

.card {
  width: auto;
  height: auto;
  /* margin: 10px; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 1420px) {
  body {
    padding: 0 4%;
  }
}